@import "variables";
@import "includes/media-queries";
@import "includes/mixin";

@import "menu.scss";
@import "landing.scss";
@import "about.scss";


body {
  width: 100%;
  height: 100%;
  font-family: $lora;
  color: $globalWhite;
  background-color: $globalBlack;
  a {
    cursor: pointer;
  }
}
html {
  width: 100%;
  height: 100%;
}
