// fonts
$montserrat   : "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
$lora         : "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;

// animation time
$timeAnim : 0.3s;

// color
$globalWhite   : #fff;
$globalBlack   : #000;
