.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000; }
  .navbar-custom .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff; }
    .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
      outline: none; }
  .navbar-custom .navbar-brand {
    font-weight: 700; }
    .navbar-custom .navbar-brand:focus {
      outline: none; }
  .navbar-custom a {
    color: #fff; }
  .navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a.active {
      color: rgba(255, 255, 255, 0.8);
      outline: none;
      background-color: transparent; }
    .navbar-custom .nav li a.active {
      pointer-events: none; }
  .navbar-custom .nav li.hidden-nav {
    display: none; }
  @media only screen and (min-width: 1025px) {
    .navbar-custom {
      padding: 20px 0;
      border-bottom: none;
      letter-spacing: 1px;
      background: transparent;
      -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      -o-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }
      .navbar-custom.top-nav-collapse {
        padding: 0;
        background: #000;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }

.landing {
  position: relative;
  width: 100%;
  height: 100%; }
  .landing .landing-banner {
    display: table;
    width: 100%;
    height: 50%;
    text-align: center;
    color: white;
    background: url(../images/landing/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .landing .landing-banner .container {
      display: table-cell;
      vertical-align: middle; }
      .landing .landing-banner .container .landing-title {
        font-size: 25px;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .landing .landing-menu-blocks {
    height: 50%; }
    .landing .landing-menu-blocks .container,
    .landing .landing-menu-blocks .row {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0; }
    .landing .landing-menu-blocks .blocks-container-center {
      height: 50%;
      padding: 0;
      display: table; }
      .landing .landing-menu-blocks .blocks-container-center .block-content {
        cursor: pointer;
        display: table-cell;
        vertical-align: middle;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .landing .landing-menu-blocks .blocks-container-center .block-content.block-surfboards {
          background: url("../images/landing/shop-surfboards.jpg") no-repeat center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; }
        .landing .landing-menu-blocks .blocks-container-center .block-content.block-skateboards {
          background: url("../images/landing/shop-skateboards.jpg") no-repeat center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; }
        .landing .landing-menu-blocks .blocks-container-center .block-content.block-wetsuits {
          background: url("../images/landing/shop-wetsuits.jpg") no-repeat center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; }
        .landing .landing-menu-blocks .blocks-container-center .block-content.block-rentals {
          background: url("../images/landing/shop-rentals.jpg") no-repeat center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; }
        .landing .landing-menu-blocks .blocks-container-center .block-content .block-categorie {
          position: relative;
          font-size: 14px;
          text-transform: uppercase;
          color: #fff;
          font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
          text-align: center;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
          .landing .landing-menu-blocks .blocks-container-center .block-content .block-categorie:after {
            content: '';
            position: absolute;
            left: calc(50% - 30px);
            width: 60px;
            height: 2px;
            background: #fff;
            bottom: -5px;
            -moz-transform: scale(0);
            -o-transform: scale(0);
            -ms-transform: scale(0);
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s; }
        .landing .landing-menu-blocks .blocks-container-center .block-content:hover {
          -webkit-filter: grayscale(0);
          -moz-filter: grayscale(0);
          filter: grayscale(0); }
          .landing .landing-menu-blocks .blocks-container-center .block-content:hover .block-categorie::after {
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1); }
  @media only screen and (max-width: 1024px) {
    .landing {
      top: 50px;
      height: calc( 100% - 50px); } }
  @media only screen and (min-width: 769px) {
    .landing .landing-banner {
      height: 70%; }
      .landing .landing-banner .container .landing-title {
        font-size: 30px; }
    .landing .landing-menu-blocks {
      height: 30%; }
      .landing .landing-menu-blocks .blocks-container-center {
        height: 100%; }
        .landing .landing-menu-blocks .blocks-container-center .block-content.block-surfboards, .landing .landing-menu-blocks .blocks-container-center .block-content.block-skateboards, .landing .landing-menu-blocks .blocks-container-center .block-content.block-wetsuits, .landing .landing-menu-blocks .blocks-container-center .block-content.block-rentals {
          background-size: 150%;
          background-position: center; }
        .landing .landing-menu-blocks .blocks-container-center .block-content.block-surfboards {
          background-position: top center; }
        .landing .landing-menu-blocks .blocks-container-center .block-content.block-wetsuits {
          background-position: right; }
        .landing .landing-menu-blocks .blocks-container-center .block-content .block-categorie {
          font-size: 16px; }
        .landing .landing-menu-blocks .blocks-container-center .block-content:hover {
          -webkit-filter: grayscale(0);
          -moz-filter: grayscale(0);
          filter: grayscale(0); }
          .landing .landing-menu-blocks .blocks-container-center .block-content:hover .block-categorie::after {
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1); } }

#about {
  display: none; }
  #about.scroll-down {
    display: block;
    height: 800px;
    width: 100%;
    background: #000; }

body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #000; }
  body a {
    cursor: pointer; }

html {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=style.css.map */
